* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}
input {
    background: rgba(128, 128, 128, 0.116);
    outline: none;
    border-radius: 3px;
    border: 1px solid #80808045;
    padding: 1px;
    color: #717171de;
}
select {
    padding: 1px;
    color: #717171de;
}
.ui-widget.ui-widget-content {
    height: 85vh !important;
    width: 97%;
}
.ui-dialog .ui-dialog-content {
    height: 100% !important;
    padding: 8px 8px;
}
.ui-dialog .ui-dialog-titlebar {
    display: none !important;
}
img {
    width: 100%;
}
.flex-wrapper {
    display: flex;
    align-items: center;

}
.search-content-2 {
    display: none;
}
.chat-icon-box {
    position: fixed;
    right: 16px;
    bottom: 71px;
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
}
.chat-icon img {
    width: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1600px;
}
#header_img {
    width: 100%;
    height: 100%;
}
.ui-widget-overlay {
    background: #000000;
    opacity: .7;
}
main .container {
    max-width: 1000px;
}
.content-wrapper {
    padding: 2rem 0px;
}
.content-wrapper .head {
    font-size: 27px;
    color: #333;
    text-align: center;
}
.para_2 {
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.para_3 {
    font-size: 11px;
    white-space: nowrap;
    line-height: 1.5em;
}
hr {
    color: #33333370;
    margin-bottom: 2rem;
    opacity: 0.3;
}
.search-content {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 5% 30% 20% 20% 10px;
    margin-bottom: 1rem;
}
.recaptcha img {
    max-width: 266px;
    margin-bottom: 1.6rem;
}
.input_gray {
    border: 1px solid rgba(128, 128, 128, 0.275);
    border-radius: 3px;
}
.search-content .input-box,
.search-content-2 .input-box
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.search-content label,
.search-content-2 label
 {
    color: #b7b9ba;
    font-size: 12px;
    margin-top: 3px;

}
#go {
    padding: 2px 9px;
    border: 1px solid gray;
    border-radius: 20px ;
}
    
*::placeholder {
    color: #333;
}
.search-content  p, #go, .search-content-2 p {
    color: #d33127 !important; 
    font-size: 15px;
}
.search-wrapper, .search-wrapper-top {
    display: flex;
    align-items: flex-start;
}
table {
    width: 100%;
    border-spacing: 0px;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    /* border-bottom: 1px solid #333; */
    margin-bottom: 2rem;
}
table thead {
    background: #eceff19c;
    border-radius: 7px 7px 0px 0px;
}
table tbody {
    background: #eceff1 url(https://traffic.rta.ae/trfesrv/public_resources/images_en/titlebg.gif) repeat-x 0 100%;
}
thead th {
    padding: 1rem 0px;
    color: #777;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #80808030;
}
thead tr th:nth-child(2), 
thead tr th:nth-child(3),
thead tr th:nth-child(4),
thead tr th:nth-child(5)
{
    border-bottom: none;
    border-top: none;
    border-right: none;
}
thead tr th:nth-child(6) {
    border-top: none;
}
hr {
    margin-top: 5px;
    width: 100%;
    margin-left: 22px;
}
tbody tr td:nth-child(2),
tbody tr td:nth-child(3),
tbody tr td:nth-child(4),
tbody tr td:nth-child(5)
 {
    border-bottom: none;
    border-right: none;
}
thead tr th:nth-child(6),
tbody tr td:nth-child(6) {
    border-bottom: none;
}

thead th:nth-child(1) {
    border-radius: 7px 0px 0px 0px;
}
thead th:nth-child(7) {
    border-radius: 0px 7px 0px 0px;
}
tbody td {
    padding: 13px 0px;
    font-size: 12px;
    border: 1px solid #80808030;
}
tbody td:nth-child(7) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
}
tbody a {
    width: 60%;
    border-radius: 21px;
    padding: 3px 0px;
    background: white;
    border: 1px solid #8080804f;
    color: #777;
    white-space: nowrap;
}
.footer_content {
    display: grid;
    grid-template-columns: 40% 40%;
    place-content: center;
}
.footer_content p {
    font: 12px/20px 'RTA-Light';
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    main .container {
        max-width: 900px;
    }
}

@media screen and (max-width: 922px) {
    .recaptcha-wrap {
        width:  551px;
        margin-top: .7rem;
    }
    .recaptcha img {
        max-width: 156px;
    }
    table {
        margin-top: 16px;
    }
    main .container {
        max-width: 700px;
    }
    tbody td {
        padding: 0px;
    }
    tbody a {
        width: 90%;
        font-size: 10px;
    }
    .footer_content {
        display: block;
        text-align: left;
        max-width: 80%;
        margin: 1rem auto;
    }
    .footer_content p {
        margin: 8px;
        font: 9px/18px 'RTA-Light';
    }
    .middle-content {
        display: grid;
        place-content: center;
    }
    .search-content {
        display: flex;
        margin: 0 auto;
        max-width: 90%;
    }
}

@media screen and (max-width: 825px) {
    .search-wrapper {
        max-width: 190px;
    }

    .search-content {
        display: none;
    }
    .search-content-2 {
        display: flex;
        flex-direction: column;
        max-width: 92%;
        margin: 0 auto;
        row-gap: 10px;
    }
    .search-wrapper, .search-wrapper-top {
        gap: 14px
    }
    
    .chat-icon-box {
        width: 58px;
        height: 58px;
    }
    object {
        width: 76% !important;
        height: 56% !important;
       }
    main .container {
        max-width: 600px;
       }

   .para_3 {
    font-size: 8px;
   }
   .search-content p, #go, .search-content-2 p {
    font-size: 8px;
   }
   .search-content label, .search-content label {
    font-size: 7px;
   }
   select, input {
    font-size: 8px;
   }
   thead th, tbody td {
    font-size: 7px;
   }
   tbody a {
    font-size: 6px;
   }
   .recaptcha {
    width: 94%;
   }
   table  {
    width: 94%;
    margin: 10px auto;
   }
   .footer_content p {
    font: 7px/7px 'RTA-Light';
   }
   .search-content-2 label {
    font-size: 7px;
}
}
@media screen and (max-width: 625px) {
    hr {
        width: 90%;
    }
    .recaptcha-wrap {
        width:  490px;
        margin-top: .7rem;
    } 
    .recaptcha {
        max-width: 104px;
        margin-bottom: 1.6rem;
    }
    .search-content-2 {
        max-width: 81%;
    }
    table,  .recaptcha {
        width: 83%;
       
    }
    .chat-icon-box {
        width: 54px;
        height: 54px;
    }
    object {
        width: 76% !important;
        height: 71% !important;
    }
    .content-wrapper .head {
        font-size: 20px;
    }
   .para_3 {
    font-size: 7px;
   }
   tbody a {
    font-size: 6px;
    padding: 0px;
}
tbody td:nth-child(7) {
    gap: 4px;
}
tbody td {
    padding: 8px 0px;
}
.search-content-2 {
    max-width: 75%;
}
}

@media screen and (max-width: 460px) {
    .search-wrapper, .search-wrapper-top , .search-content-2{
        gap: 6px;
    }
    .search-content-2 label {
        font-size: 6px;
    }
    .anchor {
        position: relative;
        top: -5px;
    }

    .search-wrapper {
        max-width: 160px;
    }
    .chat-icon-box {
        width: 53px;
        height: 53px;
    }
    object {
        width: 75% !important;
        height: 54% !important;
       }
}
@media screen and (max-width: 390px) {
    .chat-icon-box {
        width: 53px;
        height: 53px;
    }
    object {
        width: 68% !important;
        height: 56% !important;
       }
}
@media screen and (max-width: 576px) {
    .recaptcha img, .recaptcha {
        margin-bottom: 0px;
    }
    .search-content, .search-content-2 {
        margin-bottom: 1rem;
    }
    #recaptcha_id {
        margin-top: 0px;
    } 
    .recaptcha-wrap {
        width:  64%;
    } 
    .search-content-2 {
        max-width: 64%;
    }
    table {
        width:  66%;
    }
    thead th, tbody td, tbody a {
        font-size: 5px;
    }
    .para_2 {
        margin-top: .5rem;
        font-size: 5px;
        margin-bottom: 9px !important ;
    }
    .content-wrapper .head {
        font-size: 10px;
    }
    .content-wrapper {
        padding: 1rem 0rem;
    }
 
    thead th {
        padding: .5rem 0rem;
    }
    .footer_content {
        margin: .5rem auto;
    }
    .footer_content p {
        font: 5px / 3px 'RTA-Light';
    }
    .chat-icon-box {
        width: 50px;
        height: 50px;
    }
    .para_3 {
        font-size: 5px;
       }
}
@media screen and (max-width: 400px) {
    table {
        width: 76%;
    }
    .chat-icon-box {
        width: 48px;
        height: 48px;
    }
 
    .para_3 {
     font-size: 4px;
    }

    .search-content p, #go, .search-content-2 p {
     font-size: 6px;
    }
    .search-content label, .search-content label {
     font-size: 5px;
    }
    select, input {
     font-size: 6px;
     max-width: 100px;
    }
    thead th, tbody td {
     font-size: 5px;
    }
    tbody a {
     font-size: 4px;
    }
    table {
     width: 70%;
     margin: 10px auto;
    }
    .footer_content p {
     font: 5px/5px 'RTA-Light';
    }
 
 }
@media screen and (max-width: 300px) {
    .chat-icon-box {
        width: 55px;
        height: 55px;
    }
    .para_3 {
     font-size: 3px;
    }
    .search-content {
     grid-template-columns: 6% 20% 11% 20% 33px;
     place-content: center;
     column-gap: 5px;
    }
    .search-content p, #go, .search-content-2 p {
     font-size: 6px;
    }
    .search-content label, .search-content-2 label {
     font-size: 5px;
    }
    select, input {
     font-size: 6px;
     max-width: 100px;
    }
    thead th, tbody td {
     font-size: 5px;
    }
    tbody a {
     font-size: 4px;
    }
    table {
     width: 80%;
     margin: 10px auto;
    }
    .footer_content p {
     font: 5px/5px 'RTA-Light';
    }
    .content-wrapper .head {
        font-size: 8px;
    }
 }